<appSettings>
  <add key="FacebookAppId" value="493330528394364"/>
  <add key="FacebookAppSecret" value="34a28d12cd12bb4a0eea4c9f7e8491f7"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>